---
layout: home
title: Home
sitemap:
priority: 1
changefreq: weekly
lastmod: 2019-05-24 00:00:00
---

<h1>ICC Parking</h1>
<p>If you are looking to park at or near the ICC Sydney, the first place to start is the ICC centre itself. ICC Sydney operates two 24 hour car parking stations with a total of 826 parking spaces including 11 disabled parking bays, 25 motorcycle parking spaces, 50 bicycle racks and 20 electric car charge spaces.
You'll probably be in luck so long as there are not multiple conferences on at the same time. Vehicle entry height is 2.2m.

But in reality ICC parking is a bit of a shambles. There have been multiple reports on <a href="...">Tripadvisor</a> of a shocking experience getting in and out.

Inner sydney is generally a horror show for getting parking at the bets of times... so we'd strongly recommend getting a train, tram, bus or taxi instead of driving. If you must - here are the details for ICC parking.

Car Park Height: 2.2m
Address:
14 Darling Drive, Sydney, NSW 2000

ICC Sydney Exhibition Centre Car Park (Car Park 1) - OPEN
ICC Sydney Theatre Car Park (Car Park 2) - OPEN

Operating hours:
7 Days - 24 hours

Parking Rates:
 0 - 1 hour 	$18.00 
 1 - 2 hours	$30.00
 2 - 3 hours	$38.00
 3 - 4 hours	$44.00
 4+ hours (to 4am only)	$49.00
 Night rate
 Entry after 5pm and exit before 4.00am
 Car Park rates reset at 4.00am daily.	
 $28.00

Monthly Parking Rates:
A monthly car park rate is available for Car Park 2 for $299 per month. For further information and booking please download the Car Park Monthly <a href="...">Booking Form</a> and email <a href="...">mailto:carparks@iccsydney.com</a>
</p>

<h2>Other Parking Options</h2>
<p>
Harbourside Car Park, 100 Murray Street, Pyrmont. Find more parking on Google Maps.

Goulburn St Parking Station
The Goulburn St Parking Station is around $50.00/day. For the convenience i would stick with the hotel.
Most of the city parking stations, such as Goulburn Street do have cheaper weekend rates. $50 a day is a typical weekday rate, but on weekends it is more like $10 per day.

Harbourside Parking at Darling Harbour 
$15 flat rate for the day by getting your ticket validated at the Maritime Museum. I don't think this works overnight though as it seems to reset at 6 am.
</p>

<h2>History of ICC</h2>
<p>Darling Harbour Live and ICC Sydney – Australia’s first fully integrated convention, exhibition and entertainment precinct – is now open to the public.

The $3.4 billion transformation of Darling Harbour includes five star convention and exhibition centres, 3,000 square metres of green space, a stunning new amphitheatre and a new city neighbourhood.

The joint delivery of this project is a massive achievement for the NSW Government and private sector. The new state of the art facilities will generate $200 million annual economic benefit for the NSW economy and a combined total of about 7,700 jobs across construction and operation.

In April 2017, ICC Sydney was named Australia’s best infrastructure project at the Infrastructure Partnerships Australia’s National Infrastructure Awards.
</p>

{% for post in paginator.posts %}
<div class="unit whole single-post-excerpt">
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<div class="meta-info">
		<span class="meta"><time class="timeago postlist-meta" datetime="{{ post.date | date: "%Y-%m-%d" }}"><i class="fa fa-calendar"></i>{{ post.date | date: "%B %-d, %Y" }}</time></span>
		{% if post.tags and post.tags.size > 0 %}
			<div class="tags">
				Tagged:
				{% for tag in post.tags %}
				<span><i class="fa fa-tag"></i>{{ tag }}</span>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<p class="description">{{ post.excerpt | strip_html}}</p>
</div>
{% endfor %}
<div class="unit whole paginator">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% endif %}
	<span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% endif %}
</div>
